/*Resets*/

.panel, .table {
    margin-bottom: 15px;
}

.panel {
    box-shadow: none;
}

.navbar-collapse, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

.btn {
    padding: 3px 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn-success {
    color: #fff;
    background-color: #43ad43;
    border-color: #339833;
}


/* =============
   Truncate text
============= */

.truncate {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* =============
   Helper clasess
============= */

.p-0 {
    padding: 0px !important;
}

.p-3 {
    padding: 3px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.m-0 {
    margin: 0px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.b-r-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* =============
   Helper clasess
============= */


/*-----------PROFILE CARD----------*/

.panel-danger>.panel-heading, .panel-warning>.panel-heading, .panel-success>.panel-heading {
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: none;
}

.panel-danger .panel-heading {
    background-color: #E73E30;
}

.profile-card {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

.profile-info {
    padding: 0 15px 15px;
    position: relative;
}

.profile-info h4 {
    color: #333;
    font-size: 16px;
    position: relative;
    line-height: 20px;
    font-weight: normal;
}

.profile-info>ul>li {
    color: #333;
    font-size: 11px;
    letter-spacing: 0.03em;
    line-height: 17px;
}

.profile-info h4:after {
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    background-color: #1A76FC;
    margin: 10px 0;
}

.thumbnail {
    border: 0;
    padding: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.thumbnail img {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


/*-----Statistics cards-------*/


/*General*/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin-top: 50px;
    background-color: #f0f0f0;
}


/*nav bar brand*/

.navbar>.container .navbar-brand {
    margin-left: 0;
}


/*Bordered drop-down*/

.navbar-nav>li.dropdown-bordered {
    border: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #080808;
    border-style: solid;
}


/*Table*/

.table {
    font-size: 13px;
}

.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}

.table.table-unpadded>thead>tr>th:first-child, .table.table-unpadded>tbody>tr>td:first-child {
    padding-left: 0px;
}

.table.table-unpadded>thead>tr>th:last-child, .table.table-unpadded>tbody>tr>td:last-child {
    padding-right: 0px;
}


/*panel-bills---------*/

.panel-bills {
    background: #f00;
}


/*Panel within a panel*/

.panel-body .panel {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}

.panel-body .panel-heading {
    border-radius: 0;
}


/*Panel with tabs*/

.panel.with-nav-tabs .panel-heading {
    padding: 20px 20px 0 20px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel .panel-n-tab-heading {
    padding: 10px 15px !important;
}

.panel.with-nav-tabs>.panel-heading:nth-of-type(2) {
    border-color: #ddd;
    background-color: #F9F9F9;
}

.panel.with-nav-tabs .nav-tabs>li {
    margin-bottom: -0.072544em;
}

.panel.with-nav-tabs .nav-tabs>li>a {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/********************************************************************/


/*** PANEL DEFAULT ***/

.with-nav-tabs.panel-default .nav-tabs>li>a, .with-nav-tabs.panel-default .nav-tabs>li>a:hover, .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a, .with-nav-tabs.panel-default .nav-tabs>.open>a:hover, .with-nav-tabs.panel-default .nav-tabs>.open>a:focus, .with-nav-tabs.panel-default .nav-tabs>li>a:hover, .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a, .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover, .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
    border-top: 2px solid #1A76FC;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover, .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a, .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover, .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #555;
}

@media(max-width:767px) {
    .property-details .media {
        width: 288px!important;
    }
    .property-details .media {
        width: 300px;
    }
    .gm-style .navigate {
        position: absolute;
        top: 8px;
        right: 5px;
    }
    .panel.with-nav-tabs {
        border: 0;
        background: none;
    }
    .panel-heading.panel-n-tab-heading {
        margin-top: 20px;
    }
    .panel.with-nav-tabs .panel-heading {
        padding: 0;
    }
    .panel.with-nav-tabs .nav-tabs>li {
        margin: 0px;
        width: 100%;
    }
    .panel.with-nav-tabs .nav-tabs>li.active a {
        margin-bottom: 0px;
        width: 100%;
        border-bottom-color: #ddd;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        color: #E63C2E;
    }
    .panel.with-nav-tabs .nav-tabs>li.active a:hover {
        margin: 0;
        width: 100%;
        border-bottom-color: #ddd;
        border-right: 0;
        border-left: 0;
    }
    .panel.with-nav-tabs .nav-tabs>li.active a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .panel.with-nav-tabs .nav-tabs>li>a {
        margin: 0;
        border: 0;
        border-radius: 0;
    }
    .panel.with-nav-tabs .nav-tabs>li {
        border-bottom: 1px solid #ddd;
        margin: 0;
    }
    .panel.with-nav-tabs .nav-tabs>li:last-child {
        border: 0;
    }
    .panel.with-nav-tabs>.panel-heading:nth-of-type(2) {
        border: 1px solid #c8c7c6;
    }
    .panel.with-nav-tabs>.panel-heading:nth-of-type(2) {
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .panel-n-tab-heading {
        border: 1px solid #c8c7c6;
    }
    .panel.with-nav-tabs .panel-body {
        border: 1px solid #c8c7c6;
        border-top: 0;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #fff;
    }
}

.with-nav-tabs .subtitle {
    margin: 0;
    font-weight: 400;
    color: #111;
}

.with-nav-tabs h3 {
    margin: 0;
}
